<!DOCTYPE html>

<html lang="it">
  <head>
    <title>GeoKey – {{ page.title }}</title>

    <meta charset="utf-8" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//geokey.org.uk/build/css/geokey.css" />
  </head>

  <body>
        <div id="wrapper">
            {{ content }}

            <footer>
                <div class="container">
                    <div class="row text-center">
                        &copy; <a href="https://ucl.ac.uk/excites" target="_blank">Extreme Citizen Science</a>
                        <a href="https://github.com/ExCiteS/geokey" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            GitHub
                        </a>
                    </div>
                </div>
            </footer>
        </div>
  </body>
</html>
