<!DOCTYPE html>

<html lang="it">
  <head>
    <title>GeoKey{% if page.title != nil %} – {{ page.title }}{% endif %}</title>

    <meta charset="utf-8" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//geokey.org.uk/build/css/geokey.css" />
  </head>

  <body>
        <div id="wrapper">
            {{ content }}

            <footer>
                <div class="container">
                    <div class="row">
                        <div>Progettato a Londra dall’gruppo di ricerca <a href="https://ucl.ac.uk/excites" target="_blank">Extreme Citizen Science</a></div>

                        <div>
                            <ul>
                                <li><a href="http://geokey.org.uk/blog">Blog</a></li>
                                <li><a href="http://geokey.org.uk/docs">Documentazione API</a></li>
                            </ul>
                        </div>

                        <div>
                            <a href="https://github.com/ExCiteS/geokey"><i class="fa fa-github fa-fw fa-2x"></i></a>
                            <a href="https://twitter.com/geokey_project"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
  </body>
</html>
