---
layout: default
---

<header id="header-help">
    {% include navigation.html %}

    <div class="container">
        <div class="row">
            <h1><span>Help</span> {{ page.title }}</h1>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div id="docs-nav">
                <h2><span>Navigate</span></h2>
                <ul></ul>
            </div>

            <div id="docs-cnt">{{ content }}</div>
        </div>
    </div>
</section>

<script src="//geokey.org.uk/build/js/toc.js"></script>
